@model IEnumerable<NEXUS.Models.CategoryAdmin>

@foreach(var item in Model) 
{
    <li><a class="dropdown-item" asp-route-id="@item.CatgId" asp-action="ShowProdCatg" asp-controller="Home">@item.CatgName</a></li>
}
