@{
    ViewData["Title"] = "Home Page";
}

<!-- Carousel Start -->
<div class="container-fluid px-0 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="~/img/b3.jpg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-7 text-start">
                                <p class="text-white animated slideInRight" style="font-size:2vw;">
                                    Welcome to
                                    <strong style="font-size:1.5vw;"> <img src="~/img/logo3.png" style="width:120px; height:50px;" /><br>SERVICE MARKETING SYSTEM
</strong>
                                </p>
                                <h1 class="display-1 text-white animated slideInRight">
                                    We are all now Connected by-the Internet.
                                </h1>
                                @* <a href=""
                                   class="btn btn-primary rounded-pill p-3 px-5 animated slideInRight text-dark" style="background-color: #F0F8FF; border:none;">
                                    Explore More
                                </a> *@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- Features Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <p class="animated-paragraph px-2 py-4 wow fadeIn" data-wow-delay="0.3s" style="text-align:justify;">
                <strong> Nexus Communication System </strong> is a leading provider of telecommunications and internet services, catering to the needs of customers across various territories.
                With a strong presence in the local market, Nexus Communication System has expanded its services to meet the growing demand for internet connectivity.
            </p>
        </div>
    </div>
            @* <p class="fs-5 fw-medium text-center text-primary wow fadeInUp" data-wow-delay="0.1s">FIND GADGETS</p>
            <h1 class="display-5 mb-5 text-center wow fadeInUp" data-wow-delay="0.1s" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Equipment Services </h1>
            <div class="row g-0 feature-row">
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="feature-item border h-100 p-5">
                        <div class="btn-square mx-auto mb-4" style="width: 68px; height: 68px; margin-left: 80px;">
                            <img class="img-fluid" src="~/img/icon/modem.png" alt="Icon">
                        </div>

                        <h5 class="mb-3 text-center">Modems</h5>

                        <a asp-controller="Home" asp-action="Modem">
                        <button class="btn btn-primary w-75 py-1 px-2" style="margin-left:30px;background-color:#0F1025; border:none" type="submit">Read More</button>
                    </a>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="feature-item border h-100 p-5">
                        <div class="btn-square mx-auto mb-4" style="width: 68px; height: 68px; margin-left: 80px;">
                            <img class="img-fluid" src="~/img/icon/122.png" alt="Icon">
                        </div>

                        <h5 class="mb-3 text-center">Routers</h5>

                         <a asp-controller="Home" asp-action="Router">
                            <button class="btn btn-primary w-75 py-1 px-2" style="margin-left:30px;background-color:#0F1025; border:none" type="submit">Read More</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="feature-item border h-100 p-5">
                        <div class="btn-square mx-auto mb-4" style="width: 70px; height: 70px; margin-left: 75px;">
                            <img class="img-fluid" src="~/img/icon/cable.png" alt="Icon">
                        </div>

                        <h5 class="mb-3 text-center">High-speed Fiber Cables</h5>

                        <a asp-controller="Home" asp-action="Cable">
                            <button class="btn btn-primary w-75 py-1 px-2" style="margin-left:30px; background-color:#0F1025; border:none" type="submit">Read More</button>
                        </a>
                    </div>
                </div>
          
            </div> *@
   

    <div class="container-xl py-5">
        <div class="container">
            <p class="fs-5 fw-medium text-center text-primary wow fadeInUp" data-wow-delay="0.1s">ORDER NOW</p>
            <h1 class="display-5 mb-5 text-center wow fadeInUp" data-wow-delay="0.1s" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"></h1>
            <div class="row g-0 feature-row">
                <div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="feature-item border h-100 p-5">

                        <div class="btn-square mx-auto mb-4" style="width: 63px; height: 63px; margin-left: 130px;">
                            <img class="img-fluid" src="~/img/icon/12.png" alt="Icon">
                        </div>

                        <h5 class="mb-3 text-center">New Connections</h5>

                        <a asp-controller="Home" asp-action="Connection">
                        <button class="btn btn-primary w-75 py-1 px-2" style="margin-left:50px; background-color:#0F1025; border:none" type="submit">Order now</button>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="feature-item border h-100 p-5">
                        <div class="btn-square mx-auto mb-4" style="width: 56px; height: 56px; margin-left: 130px;">
                            <img class="img-fluid" src="~/img/icon/ud.png" alt="Icon">
                        </div>

                        <h5 class="mb-3 text-center">Upgrade/Downgrade Plans</h5>

                        <a asp-controller="Home" asp-action="UpDowngrade">
                        <button class="btn btn-primary w-75 py-1 px-2" style="margin-left:60px; background-color:#0F1025; border:none" type="submit">Order now</button>
                        </a>
                    </div>
                </div>
                @* <div class="col-md-4 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="feature-item border h-100 p-5">
                        <div class="btn-square mx-auto mb-4" style="width: 63px; height: 63px; margin-left: 128px;">
                            <img class="img-fluid" src="~/img/icon/pp.png" alt="Icon">
                        </div>

                        <h5 class="mb-3 text-center">Plan Selection</h5>

                        <a asp-controller="Home" asp-action="">
                        <button class="btn btn-primary w-75 py-1 px-2" style="margin-left:30px; background-color:#0F1025; border:none" type="submit">Order now</button>
                        </a>
                    </div>
                </div> *@
            </div>
        </div>
    </div>
    <!-- Features End -->
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">

                <p class="fs-5 fw-medium text-primary">We are offering</p>
                <h1 class="display-5 mb-5" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">SERVICES</h1>

            </div>
            <div class="row g-4">
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <div class="btn-square mx-auto mb-4"
                                 style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="~/img/icon/con1.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">

                                <strong>Tele-Communication Services </strong>

                            </h5>
                            <p class="mb-0">
                                Customers can easily inquire about and apply for new connections at any of our retail outlets.
                            </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="fw-medium" asp-controller="Home" asp-action="TeleCommunication">
                                Read More<i class="bi bi-chevron-double-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <div class="btn-square mx-auto mb-4"
                                 style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="~/img/icon/internet.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">

                                <strong> Internet Services </strong>

                            </h5>
                            <p class="mb-0">
                                To enhance customer convenience and accessibility, we have established retail shops in every city.
                            </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="fw-medium" asp-controller="Home" asp-action="InternetService">
                                Read More<i class="bi bi-chevron-double-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>


                @* <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <div class="btn-square mx-auto mb-4"
                                 style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="~/img/icon/pay.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">

                                <strong> Payment and Billing </strong>

                            </h5>
                            <p class="mb-0">
                                Clear billing for monthly rentals, flexible payment options for security deposits, with discounts available.
                            </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="fw-medium" href="">
                                Read More<i class="bi bi-chevron-double-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <div class="btn-square mx-auto mb-4"
                                 style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="~/img/icon/eq.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">

                                <strong> Equipments/Products </strong>

                            </h5>
                            <p class="mb-0">
                                Choose from a range of equipment options for broadband and dial-up connections.
                            </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="fw-medium" href="">
                                Read More<i class="bi bi-chevron-double-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div> *@
                @* <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <div class="btn-square mx-auto mb-4"
                                 style="width: 63px; height: 63px;">
                                <img class="img-fluid" src="~/img/icon/cus.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">

                                <strong> Customer Management </strong>

                            </h5>
                            <p class="mb-0">
                                Each customer is provided with a unique 10-digit account ID for easy tracking and management.
                            </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="fw-medium" href="">
                                Read More<i class="bi bi-chevron-double-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div> *@

                @* <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <div class="btn-square mx-auto mb-4"
                                 style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="~/img/icon/ven.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">

                                <strong> Vendor Management </strong>

                            </h5>
                            <p class="mb-0">
                                Detailed records of vendors, orders, and payment lists to ensure smooth supply chain management.
                            </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="fw-medium" href="">
                                Read More<i class="bi bi-chevron-double-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div> *@

                @* <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <div class="btn-square mx-auto mb-4"
                                 style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="~/img/icon/4.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">

                                <strong> Retail Shops </strong>

                            </h5>
                            <p class="mb-0">
                                To enhance customer convenience and accessibility, we have established retail shops in every city.
                            </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="fw-medium" href="">
                                Read More<i class="bi bi-chevron-double-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div> *@


            </div>
        </div>
    </div>
    <br />
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">

                <p class="fs-5 fw-medium text-primary">We are offering</p>
                <h1 class="display-5 mb-5" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">CONNECTIONS</h1>

            </div>
            <div class="row g-4">
                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <div class="btn-square mx-auto mb-4"
                                 style="width: 66px; height: 66px;">
                                <img class="img-fluid" src="~/img/icon/dial.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">

                                <strong>Dial-up Connections</strong>

                            </h5>
                            <p class="mb-0">
                                Customers can easily inquire about and apply for new connections at any of our retail outlets.
                            </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="fw-medium" asp-controller="Home" asp-action="DialupConnection">
                                Read More<i class="bi bi-chevron-double-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item position-relative h-100">
                        <div class="service-text rounded p-5">
                            <div class="btn-square mx-auto mb-4"
                                 style="width: 64px; height: 64px;">
                                <img class="img-fluid" src="~/img/icon//broad.png" alt="Icon">
                            </div>
                            <h5 class="mb-3">

                                <strong> Broadband Connections</strong>

                            </h5>
                            <p class="mb-0">
                                To enhance customer convenience and accessibility, we have established retail shops in every city.
                            </p>
                        </div>
                        <div class="service-btn rounded-0 rounded-bottom">
                            <a class="fw-medium" asp-controller="Home" asp-action="BroadbandConnection">
                                Read More<i class="bi bi-chevron-double-right ms-2"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Service End -->
    <br />
    <br />
    <!-- Quote Start -->
    @* <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">

                    <p class="fs-5 fw-medium text-primary" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Get A Quote</p>
                    <h1 class="display-5 mb-4" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Need Our Expert Help? We're Here!</h1>

                    <p>
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita
                        erat ipsum et lorem et sit, sed stet lorem sit clita duo justo
                    </p>
                    <p class="mb-4">
                        Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                        eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo
                    </p>
                    <a class="d-inline-flex align-items-center rounded overflow-hidden border border-primary" href="">
                    </a>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <h2 class="mb-4">Get A Free Quote</h2>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="mail" placeholder="Your Email">
                                <label for="mail">Your Email</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="mobile" placeholder="Your Mobile">
                                <label for="mobile">Your Mobile</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <select class="form-select" id="service">
                                    <option selected>Digital Marketing</option>
                                    <option value="">Social Marketing</option>
                                    <option value="">Content Marketing</option>
                                    <option value="">E-mail Marketing</option>
                                </select>
                                <label for="service">Choose A Service</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message"
                                          style="height: 130px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn text-white w-100 py-3" type="submit" style="background-color:#0F1025; border:none">Submit Now</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> *@
    <!-- Quote Start -->
    <!-- Testimonial Start -->
    <div class="container-xxl pt-5">
        <div class="container">
            <div class="text-center text-md-start pb-5 pb-md-0 py-3 wow fadeInUp" data-wow-delay="0.1s"
                 style="max-width: 500px;">

                <p class="fs-5 fw-medium text-primary" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Testimonial</p>
                <h1 class="display-5 mb-5" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">What Clients Say About Our Services!</h1>

            </div>
            <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <img class="mb-4" src="~/img/testimonial-1.jpg" alt="">
                    <p class="mb-4">
                        I had a fantastic experience with Nexus. The customer service was outstanding, 
                        and the quality of the product exceeded my expectations. I highly recommend it to anyone looking for Internet Services."
                    </p>
                    <h5>Lauren John</h5>
                    <span class="text-primary">Teacher</span>
                </div>
      
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <img class="mb-4" src="~/img/testimonial-3.jpg" alt="">
                    <p class="mb-4">
                        Working in marketing demands tools that are versatile and reliable. Nexus ticks all the boxes and then some. It's become an indispensable asset to our team."
                    </p>
                    <h5>Michael Patel</h5>
                    <span class="text-primary">Marketing Manager</span>
                </div>
                <div class="testimonial-item rounded p-4 p-lg-5 mb-5">
                    <img class="mb-4" src="~/img/testimonial-4.jpg" alt="">
                    <p class="mb-4">
                        As a graphic designer, Nexus has been a game-changer for me. It's intuitive, 
                        user-friendly, and has all the features I need. Two thumbs up!"
                    </p>
                    <h5> Emily Chang</h5>
                    <span class="text-primary">Freelance Graphic Designer</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->


    <div class="container-xxl pt-5">
        <div class="container">
            <div class="text-center text-md-start pb-5 pb-md-0 py-2 wow fadeInUp" data-wow-delay="0.1s"
                 style="max-width: 500px;">
                <p class="fs-5 fw-medium text-primary" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Nexus Team</p>
                <h1 class="display-5 mb-5" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Our Commitment!</h1>
            </div>
            <p class="animated-paragraph px-1 fs-5 wow fadeInUp" data-wow-delay="0.1s" style="text-align:justify;">
                At Nexus Communication System, we are committed to providing top-notch communication services with a focus
                on customer satisfaction and convenience. Our dedicated team of professionals ensures smooth operations and efficient service delivery at every step.
                <br />
                <br />
                Contact us today to experience seamless communication solutions tailored to your needs.
            </p>
        </div>
    </div>
    <!-- Testimonial End -->
