@model IEnumerable<NEXUS.Models.CategoryAdmin>

@{
    Layout = "_LayoutAdmin";
}


<!-- Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4 text-center">FETCH CATEGORY</h6>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Category Id</th>
                            <th>Category Name</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.CatgId</td>
                                <td>@item.CatgName</td>
                                <td>
                                    <a asp-route-id="@item.CatgId" asp-controller="Admin" asp-action="deletecategory2" class="btn btn-danger">DELETE</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


@{
    string Msg = TempData["Message"] as string;
}

@if (!string.IsNullOrEmpty(Msg))
{
    <script>
        alert("@Msg");
    </script>
}


