@{
    Layout = "_LayoutAdmin";
}
@model NEXUS.Models.TeleService


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">ADD-PACKAGES</h6>
                <form enctype="multipart/form-data" asp-controller="Admin" asp-action="AddTele">
                    @Html.AntiForgeryToken()
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Tele Service</label>
                        <input type="text" class="form-control" asp-for="TeleName">
                    </div>
                   
                    <button type="submit" class="btn btn-success mt-2">SUBMIT</button>
                </form>
            </div>
        </div>
    </div>

